/* .os-content {
    background-color: teal !important;
} */

td.action {
    width: fit-content;
    overflow: hidden;
    /* display: inline-block; */
    white-space: nowrap;
}
td.action.btns {
    width: 2rem !important;
    overflow: hidden;
    /* display: inline-block; */
    white-space: nowrap;
}

.content-wrapper {
    padding-top: 1rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0.4rem;
}

section.content.report {
    margin-top: 5rem;
}

section.content.report span.info-box-number.text-center.text-muted {
    font-size: 1.5rem;
}

nav.main-header.navbar.navbar-expand {
    background-color: #74c023;
}

.navbar-expand .navbar-nav .nav-link {
    color: #3c3c3c;
}

.os-content {
    background-color: #3c3c3c;
}

.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*=navbar]) {
    background-color: #3c3c3c;
}

.monitoring.info-box.bg-light:hover {
    background-color: #3c3c3c !important;
    color: #74c023 !important;
}

.monitoring.info-box-content:hover {
    color: #74c023 !important;
}



.monitoring.info-box .info-box-number:hover {
    color: #74c023 !important;
}

.monitoring.info-box {
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    border-radius: .25rem;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: 0rem;
    position: relative;
    width: 100%;
}

.monitoring.info-box .info-box-number {
    display: block;
    padding-top: 1.25rem;
    font-weight: 700;
    height: 100%;
}

.monitoring.info-box .info-box-content {
    line-height: 2.5rem;
}

.info-box .info-box-number {
    margin-top: 0;
}

.monitoring.row {
    align-content: center;
    justify-content: center;
    align-items: center;
}

.monitoring.info-box-content {
    padding: 0;
}

.back-btn.col-2 {
    padding: 0;
}

.card-title {
    font-size: 2rem;
}

.strategic.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ttm.row .custom-control-label {
    font-weight: 500;
}

option.opt {
    font-size: 1.2rem;
    /* font-weight: 500; */
}

option.opt::-webkit-option-placeholder {
    font-size: 1.2rem;
    font-weight: 500;
}

/* .col.staffs {
    border: 1px solid black;
    position: absolute;
    right: 20px;
    width: 32%;
    z-index: 1;
} */

.col.staffs span {
    right: inherit;
}

#add-btn {
    height: fit-content;
}

.row.append {
    display: flex;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
    align-items: center;
}

td.append {
    padding: 0rem;
    border: none;
}

.table-append td,
.table-append th {
    /* padding: .459rem; */
    vertical-align: middle;
    border-top: none;
    padding-bottom: .75rem;
    text-align: center;
}

.table-append td i {
    padding: .75rem;
    cursor: pointer;
}

input#agencyAbbrev {
    text-align: center;
    font-weight: 700;
    background: none;
}

input#dash {
    text-align: center;
    font-weight: 700;
    background: none;
}

.alert-danger ul {
    margin: auto;
}
.row.files {
    justify-content: center;
}
td.counter {
    width: .5%;
}
td.donor {
    width: 1%;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: black;
}

.bootstrap-tagsinput .tag {
    color: black !important;
    background-color: #e4e4e4;
    padding: 3px 7px;
    border-radius: 5px;
    border: 1px solid #aaa;
    list-style: none;
    padding: 0 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.bootstrap-tagsinput {
    width: 100%;
    line-height: 27px !important;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    color: #999;
    cursor: pointer;
    font-weight: bold;
    margin-right: 2px;
    float: right;
    margin-left: 5px;
    visibility: hidden;
}