/* .os-content {
    background-color: teal !important;
} */

td.action {
    width: 8rem;
    overflow: hidden;
    /* display: inline-block; */
    white-space: nowrap;
}

.content-wrapper {
   padding-top: 1rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0.4rem;
}